header .cabecalho-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .cabecalho-link img {
  align-self: center;
  margin-bottom: 56px;
}

header .cabecalho-link div {
  display: flex;
  align-self: flex-start;
}

header .cabecalho-link img.seta {
  margin: 0 8px;
}

header .cabecalho-link button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: none;
}

header .cabecalho-link a {
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  color: #0d6efd;
}

header .cabecalho-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

header .cabecalho-contato img {
  margin-bottom: -30px;
}

h1 {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
  color: #0d6efd;
  margin: 12px 0;
}

.perfil {
  background: #e7f1ff;
  width: 416px;
  height: 548px;
  padding: 24px, 16px;
  border-radius: 16px;
}

.perfil ul {
  list-style: none;
  padding: 24px;
}

.perfil li {
  padding-bottom: 16px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
}

.perfil strong {
  font-weight: 700;
}

.botoes {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  gap: 16px;
}

.botao-excluir,
.botao-editar {
  width: 196px;
  height: 41px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
}

.botao-excluir {
  color: #0d6efd;
  background-color: #ffffff;
  border: 1px solid #0d6efd;
  cursor: pointer;
}

.botao-editar {
  color: #ffffff;
  background-color: #0d6efd;
  cursor: pointer;
}

.imagem-perfil {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-top: 12px;
  padding-left: 24px;
  margin-top: 36px;
}

.imagem-perfil img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

h2 {
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: #0d6efd;
  padding-left: 12px;
}
