<section class="contato">
  <ul>
    <img [src]="avatar" alt="Avatar" [routerLink]="['/perfil-contato', id]">
      <li>
          <strong>{{ nome }}</strong>
      </li>
      <li>{{ telefone }}</li>
      <li>
          <button [routerLink]="['/formulario', id]">
              <img src="/assets/pencil-square.png" alt="">
          </button>
          <button [routerLink]="['/perfil-contato', id]">
              <img src="/assets/trash.png" alt="">
          </button>
      </li>
  </ul>
</section>
